
    $fondo:#130d1d;
    $fondo2:#0e3f5e;
*{
    margin: 0;
    box-sizing: border-box;

}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    background:#130d1d ;
}
.App{
    background: $fondo;
}
.container-xl{
    background:$fondo;
}
.containter_I{
   margin: 0;
   padding: 0;

    .body_I{
        margin: 0;
   padding: 0;
        background-color: $fondo2;
        width: 95%;
        height: 80%;
        overflow: hidden;
        .etapas{
         background-color: aliceblue;
         width: 100%;
         height: 35%;
         border-bottom-left-radius: 30vh;
         border-bottom-right-radius: 30vh;
         .lista{
            width: 100%;
            @include center();
            justify-content: space-around;
         }
         
        }
        .list-group{
            height: 80%;
            background: #130d1d;
            margin-top: 5px;
            .lista{
                height: 45vh;
                overflow: auto
            }
            
        }
    }
}

.NavBar{
    @include center();
    flex-direction: column;
    justify-content: space-around;
    
}

//personal
.cuadr{
    background-color: antiquewhite;
    
}
.inf{
   .datos{

       .lista{
           height:300px;

       }
   }
}
.formu{

    .lista{
        height:300px;
    }
}
.card{
   .card-title{
    height:40px;
   } 
}
.cuadrMat{
    .lista{
        height: 300px;

    }
}